<div class="container bg-white d-flex flex-grow-1 flex-column shadow g-0">
    <div class="col-lg-12">
        <app-row>
            <app-topbar>
                <app-topbar-left class="col-lg-8">
                    <app-search-form></app-search-form>
                </app-topbar-left>
                <app-topbar-right class="col-lg-4">
                    <app-cart-button></app-cart-button>
                    <app-account-manage></app-account-manage>
                </app-topbar-right>
            </app-topbar>
        </app-row>
        <app-row>
            <app-header></app-header>
        </app-row>
        <app-row>
            <app-category-pills></app-category-pills>
        </app-row>
        <app-row>

        </app-row>
    </div>
</div>