<div class="container bg-white d-flex flex-grow-1 flex-column shadow g-0">
    <div class="col-lg-12 d-flex flex-grow-1 flex-column">
        <app-row>
            <app-topbar>
                <app-topbar-left class="col-lg-8">
                    <app-home-button></app-home-button>
                </app-topbar-left>
                <app-topbar-right class="col-lg-4">
                    <app-cart-button></app-cart-button>
                    <app-account-manage></app-account-manage>
                </app-topbar-right>
            </app-topbar>
        </app-row>
        <app-row>
            <app-header></app-header>
        </app-row>
        <app-row class="bg-secondary p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a class="text-light" [routerLink]="['/account']">Profilo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-light" [routerLink]="['/amministrazione/impostazioni/statiOrdine']">Impostazioni:
                            Stati
                            ordine</a>
                    </li>
                    <li class="breadcrumb-item active text-light" aria-current="page">Modifica stato
                        "{{nomeControl.value}}"</li>
                </ol>
            </nav>
        </app-row>
        <app-messages></app-messages>
        <app-row class="p-4">
            <form class="col-lg-4" [formGroup]="form" (submit)="onSubmit(form.value)">
                <input type="hidden" [formControl]="idControl">
                <h6>Modifica stato ordine "{{nomeControl.value}}"</h6>
                <div class="form-group pt-2">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid':!nomeControl.valid && nomeControl.touched}"
                        [formControl]="nomeControl" />
                    <div class="invalid-feedback">
                        <p *ngIf="nomeControl.hasError('required')" class="m-0">Il campo nome è obbligatorio</p>
                    </div>
                </div>
                <div class="form-group pt-2">
                    <label class="form-label">Classe CSS per il badge</label>
                    <input type="text" class="form-control" [formControl]="cssBadgeClassControl" />
                </div>
                <div class="form-group pt-2" *ngIf="cssBadgeClassControl.value">
                    <label class="form-label">Esempio di visualizzazione</label>
                    <br />
                    <span [ngClass]="cssBadgeClassControl.value">Testo di esempio</span>
                </div>

                <div class="form-group pt-4">
                    <button type="submit" class="btn btn-success me-2" [disabled]="isPending || !form.valid">
                        <span *ngIf="isPending" class="spinner-border spinner-border-sm me-2" role="status"
                            aria-hidden="true"></span>
                        Aggiorna
                    </button>
                </div>
            </form>
        </app-row>
    </div>



</div>