<td class="col-lg-1">{{food.id}}</td>
<td class="col-lg-4">{{food.name}}</td>
<td class="col-lg-2">{{food.price | priceOutput}}</td>
<td class="col-lg-2">{{food.category.name }}</td>
<td class="col-lg-3 text-center">
    <div class="btn-group">
        <button class="text-decoration-none btn btn-sm btn-secondary" [routerLink]="['modifica',food.id]"><i
                class="bi bi-pencil-square me-2"></i>
            Modifica</button>
        <button class="text-decoration-none btn btn-sm btn-danger" [routerLink]="['elimina',food.id]"><i
                class="bi bi-trash  me-2"></i>
            Elimina</button>
    </div>
</td>