<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled':currentPage == 1}"><button (click)="pageChange(currentPage-1)"
                [disabled]="currentPage == 1" class="page-link">Precedente</button>
        </li>
        <li *ngFor="let num of numberOfPages" class="page-item" [ngClass]="{'active':num == currentPage}"
            (click)="pageChange(num)"><button class="page-link">{{num}}</button></li>
        <li class="page-item" [ngClass]="{'disabled':currentPage == numberOfPages.length}"><button
                (click)="pageChange(currentPage+1)" [disabled]="currentPage == numberOfPages.length"
                class="page-link">Prossima</button>
        </li>
    </ul>
</nav>