<div class="container bg-white d-flex flex-grow-1 flex-column shadow g-0">
    <div class="col-lg-12 d-flex flex-grow-1 flex-column">
        <app-row>
            <app-topbar>
                <app-topbar-left class="col-lg-8">
                    <app-home-button></app-home-button>
                </app-topbar-left>
                <app-topbar-right class="col-lg-4">
                    <app-cart-button></app-cart-button>
                    <app-account-manage></app-account-manage>
                </app-topbar-right>
            </app-topbar>
        </app-row>
        <app-row>
            <app-header></app-header>
        </app-row>

        <app-messages class="p-4"></app-messages>
        <app-row class="p-4 d-flex flex-grow-1 justify-content-center align-items-center">
            <div class="col-lg-4 text-center">
                <i class="bi bi-cone-striped fs-1"></i>
                <p class="fs-2">404</p>
                <p>Pagina non trovata</p>
            </div>
        </app-row>

    </div>
</div>