<div class="container bg-white d-flex flex-grow-1 flex-column shadow g-0">
    <div class="col-lg-12 d-flex flex-grow-1 flex-column">
        <app-row>
            <app-topbar>
                <app-topbar-left class="col-lg-8">
                    <app-home-button></app-home-button>
                </app-topbar-left>
                <app-topbar-right class="col-lg-4">
                    <app-cart-button></app-cart-button>
                    <app-account-manage></app-account-manage>
                </app-topbar-right>
            </app-topbar>
        </app-row>
        <app-row>
            <app-header></app-header>
        </app-row>
        <app-row class="bg-secondary p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a class="text-light" [routerLink]="['/amministrazione/categorie']">Categorie</a>
                    </li>
                    <li class="breadcrumb-item active text-light" aria-current="page">Elimina categoria "{{nome}}"</li>
                </ol>
            </nav>
        </app-row>
        <app-messages></app-messages>
        <app-row class="p-4">
            <form class="col-lg-4" [formGroup]="form" (submit)="onSubmit(form.value)">
                <h6>Elimina {{nome}}</h6>
                <p>Stai per eliminare la categoria "{{nome}}". Sei sicuro di voler fare ? Questa operazione è
                    irreversibile.
                </p>
                <button type="submit" class="btn btn-danger">Elimina</button>
            </form>
        </app-row>
    </div>
</div>