<div class="container bg-white d-flex flex-grow-1 flex-column shadow g-0">
    <div class="col-lg-12 d-flex flex-grow-1 flex-column">
        <app-row>
            <app-topbar>
                <app-topbar-left class="col-lg-8">
                    <app-home-button></app-home-button>
                </app-topbar-left>
                <app-topbar-right class="col-lg-4">
                    <app-cart-button></app-cart-button>
                    <app-account-manage></app-account-manage>
                </app-topbar-right>
            </app-topbar>
        </app-row>
        <app-row>
            <app-header></app-header>
        </app-row>
        <app-row class="bg-secondary p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a class="text-light" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="breadcrumb-item active text-light" aria-current="page">Il mio account</li>
                </ol>
            </nav>
        </app-row>
        <app-messages></app-messages>
        <app-row class="p-4 d-flex flex-grow-1">
            <div class="col-lg-12">
                <app-row>
                    <div class="col-lg-4">
                        <ul style="list-style-type: none;" class="p-0">
                            <li>
                                <h4>Il mio profilo</h4>
                            </li>
                            <li>
                                <a [routerLink]="['/account/informazioniPersonali']" class="text-decoration-none"><i
                                        class="bi bi-person-lines-fill me-2"></i>
                                    Informazioni personali</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" [routerLink]="['/account/cambiaPassword']"><i
                                        class="bi bi-key me-2"></i>
                                    Cambia la password</a>
                            </li>
                            <li>
                                <a class="text-decoration-none"><i class="bi bi-bag me-2"></i>
                                    I miei ordini</a>
                            </li>
                        </ul>
                    </div>
                </app-row>
                <app-row *ngIf="user.role === 'admin'" class="mt-3">
                    <div class="col-lg-4">
                        <app-account-page-admin-links></app-account-page-admin-links>
                    </div>
                </app-row>
            </div>

        </app-row>

    </div>
</div>